<div>Restaurant Info goes here</div>
<h1>Show groceryList details here</h1>

<div class="restaurant" ng-if="restaurant.name" >
  <div class="rest-wrapper">
     <div class="bestDish" ng-if="restaurant.bestDish">
        <span>{{restaurant.bestDish.name}} </span>
        <div ng-click="getIngredients(restaurant.bestDish.image)" class="button">Get Ingredients</div>
    </div>


  <div ng-if="ingredients">
    <div ng-if="restaurant.bestDish"><center><strong>GROCERY SHOP LIST</strong></center></div>
      <ol>
        <li ng-repeat="ingredient in ingredients" style="list-style-type:none">
        <input type="checkbox"  >
        {{ingredient}}
        <span ng-click="removeItem($index)" style="cursor:pointer; float:right">×</span>
        </li>
     </ol>
  </div>
</div>
</div>
